#menuitem{
        -fx-effect: dropshadow(gaussian, grey, 100 , 0, 0, 0);
        -fx-background-insets: 100;
        -fx-background-color: #aac4ed;
        -fx-cursor: hand;
}
#menuitem:hover{
        -fx-effect: dropshadow(gaussian, blue, 100 , 0, 0, 0);
        -fx-background-insets: 100;
        -fx-background-color: #6b9be5;
        -fx-cursor: hand;
}
